main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}
.form input {
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(76, 78, 78);
}
.form .title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.form .input:focus {
  background-color: white;
  outline: rgb(201, 236, 248);
}
.form .input::placeholder {
  font-size: 10px;
  color: rgb(127, 138, 141);
}

.form-control::-webkit-input-placeholder {
  color: rgb(13, 231, 195);
}
.form-control::-webkit-input-focus {
  color: rgb(13, 231, 42);
}

#component {
  top: 50%;
  left: 50%;
  transform: translate3d(-70%, -70%, -30);
  position: absolute;
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}
